@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato');

html {
    background-color: rgb(10, 10, 12);
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #edf0f1;
}

li, a {
    font-weight: bold;
    font-size: 14px;
    color: #edf0f1;
    text-decoration: none;
    background-color: #070a0a;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 10%;
    background-color: #070a0a;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    cursor: pointer;
    background-color: #070a0a;
    font-weight: bold;
}
.nav {
    background-color: #070a0a;
    z-index: 2;
}
.nav__links {
    list-style: none;
    background-color: #070a0a;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
    background-color: #070a0a;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    background-color: #070a0a;
}

.nav__links li a:hover {
    color: #7c0200;
    background-color: #070a0a;
}

.splash {
    font-size: 55px;
    text-transform: uppercase;
}

h1 {
    font-size: 55px;
}

.subhead {
    font-size: 25px;
    margin-bottom: 10px;
}

span {
    color: red;
}

.cringe {
    align-items: center;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    height: 100vh;
}

p {
    font-family: sans-serif;
    line-height: 170%;
    font-weight: bold;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}